.list__series-container {
  display: flex;
  align-content: space-around;
  margin: 0;
}

.list-name {
  font-size: 30px;
}

.fav__list-name {
  font-size: 30px;
}
.main-list__container {
  width:50%;
}

.fav-list__container {
  width: 50%;
}

.list-name {
  list-style: none;
}

.list__title-serie{
  background-color:  pink;
  color: rgb(219, 12, 209);
}

.serie-fav {
 background-color: rgb(219, 12, 209);
 color: pink;
}

