<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Evaluación final Módulo 2</title>
  <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
  <div class="main__container">
    <label class="" for=""></label>
    <h1 class="search__title">Buscador de series</h1>
    <input type="text" class="input__name">
    <button class="btn">Search</button>
    <h2 class="fav__list-name">Mis series favoritas</h2>
    <ul class="list"></ul>
  </div>
  <script src="assets/js/main.js"></script>
</body>

</html>
